## Imports

### Import Packages

In [1]:
import pandas as pd

### Import Functions

In [5]:
from src.K_Means_optimisation_GenePy import KM_RF, merge_phen_genepy
from src.cluster_enrichment_analysis import analyze_cluster_deviations
from src.DBSCAN_optimisation import DBSCAN_opt, dbscan

### Import SPARC IBD CADD15 GenePy Matrix

In [6]:
#Import SPARC IBD CADD15 GenePy matrix
SPARC_IBD_CADD15_GenePy = pd.read_table("C:/Users/fvl1g23/OneDrive - University of Southampton/PhD/Projects/ML/IBD Data/IBD Plexus/ibdplexus202407_ccds_CADD15_merged.mmScaled.matrix")

#Set samid as index
SPARC_IBD_CADD15_GenePy = SPARC_IBD_CADD15_GenePy.set_index("samid")

### Import Gene Lists

In [7]:
NOD_sig_genes9 = pd.read_table("C:/Users/fvl1g23/OneDrive - University of Southampton/PhD/Projects/ML/Gene lists/NOD_sig_genes9.txt")

## SPARC IBD

### 9 NOD Signalling Genes

In [5]:
results_df = DBSCAN_opt(SPARC_IBD_CADD15_GenePy, NOD_sig_genes9, cohort_name='SPARC')

eps: 0.8, Silhouette None: Undefined (single cluster)
eps: 0.9, Silhouette None: Undefined (single cluster)
eps: 1.0, Silhouette None: Undefined (single cluster)

In [6]:
results_df

   eps  silhouette_score       DBI  n_clusters  max_cluster_size
0  0.1          0.389380  1.927433          15              1464
1  0.2          0.574751  1.681320           8              2670
2  0.3          0.587954  1.575496           8              2678
3  0.4          0.591905  1.600134           7              2705
4  0.5          0.595662  1.372066           4              2830
5  0.6          0.766825  1.239667           2              2858
6  0.7          0.766825  1.239667           2              2858
7  0.8               NaN       NaN           1              2860
8  0.9               NaN       NaN           1              2860
9  1.0               NaN       NaN           1              2860

In [8]:
#DBSCAN for eps = 0.1
dbscan_out, X = dbscan(cohort=SPARC_IBD_CADD15_GenePy, gene_feat=NOD_sig_genes9, eps=0.1)

In [10]:
dbscan_out_phen_GenePy = merge_phen_genepy(dbscan_out, SPARC_IBD_CADD15_GenePy, X)

In [11]:
results_df = analyze_cluster_deviations(dbscan_out_phen_GenePy, ['Diagnosis', 'Crohn s disease phenotype', 'IBD surgery final'])
print(results_df['Diagnosis']['overall_p_value'])
print(results_df['Crohn s disease phenotype']['overall_p_value'])
print(results_df['IBD surgery final']['overall_p_value'])

5.572628906696619e-14
2.3011710740606782e-07
3.263691524488892e-06